<section class="friends">
  <header class="flex flex-col items-center">
    <%= "Friends" %>
  </header>
  <article class="flex flex-col items-center justify-end flex-wrap border-solid border-4 border-light-blue-500">
    <%= render(partial: "users/dashboard/friends/friend", collection: current_user.friendships.befriended) || "You currently have no friends." %>
  </article>
</section>
<section class="friend_invites">
  <header class="flex flex-col items-center">
    <%= "Friend Invites" %>
  </header>
  <article class="flex flex-col items-center justify-end flex-wrap border-solid border-4 border-light-blue-500">
    <%= render(partial: "users/dashboard/friends/friend_invite", collection: current_user.friend_invites, as: :frinvite) || "You currently have no friend invitations." %>
  </article>
</section>