<li class="flex-none inline-flex">
  <button id="friends-btn" class="button rounded-sm py-1 md:py-2 px-5 bg-blue-200 hover:bg-blue-500 hover:text-white focus:bg-blue-500 focus:text-white transition duration-150-ease-in-out">Friends List</button>
</li>
<li class="flex-none inline-flex">
  <button id="pending-btn" class="button rounded-sm py-1 md:py-2 px-5 bg-blue-200 hover:bg-blue-500 hover:text-white focus:bg-blue-500 focus:text-white transition duration-150-ease-in-out">Pending Friends List(<%= current_user.pending_friends.count %>)</button>
</li>
<li class="flex-none inline-flex">
  <button id="invites-btn" class="button rounded-sm py-1 md:py-2 px-5 bg-blue-200 hover:bg-blue-500 hover:text-white focus:bg-blue-500 focus:text-white transition duration-150-ease-in-out">Friend Invites List(<%= current_user.friend_invites.count %>)</button>
</li>
<%= render "users/dashboard/friends/panel" %>
