---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/792897/credits?api_key=44887bea2881cacd3e7aa9c9a1e39222
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - c43a42d6262f68d11d543117a84f602171a5f36b
      X-Memc-Age:
      - '9579'
      X-Memc-Expires:
      - '12021'
      Last-Modified:
      - Wed, 03 Feb 2021 16:48:06 GMT
      Etag:
      - W/"9a0fcadb67678d897bf384d59e554860"
    body:
      encoding: ASCII-8BIT
      string: '{"id":792897,"cast":[{"adult":false,"gender":2,"id":83908,"known_for_department":"Acting","name":"Daniel
        Massey","original_name":"Daniel Massey","popularity":0.884,"profile_path":"/90WXpS4JNSRhStrZN5vdBHCIvlW.jpg","cast_id":6,"character":"","credit_id":"6019a50bd96c3c003e176f4c","order":0},{"adult":false,"gender":2,"id":1748,"known_for_department":"Acting","name":"William
        Shatner","original_name":"William Shatner","popularity":6.73,"profile_path":"/7lsjbNFMGj3kYYWoMk1LNnl4p5P.jpg","cast_id":3,"character":"","credit_id":"6019a4ebbb1057003d992f44","order":1},{"adult":false,"gender":2,"id":8499,"known_for_department":"Acting","name":"William
        Windom","original_name":"William Windom","popularity":0.866,"profile_path":"/jLKGf2gQR4cBDnUWFOsXY2y5Pui.jpg","cast_id":2,"ch[...]
