---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/792897/credits?api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status_code":7,"status_message":"Invalid API key: You must be granted
        a valid key.","success":false}

'
  recorded_at: Fri, 19 Feb 2021 17:40:00 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/792897/reviews?api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status_code":7,"status_message":"Invalid API key: You must be granted
        a valid key.","success":false}

'
  recorded_at: Fri, 19 Feb 2021 17:40:01 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/792897?api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status_code":7,"status_message":"Invalid API key: You must be granted
        a valid key.","success":false}

'
  recorded_at: Fri, 19 Feb 2021 17:40:02 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/792897?api_key=HIDE_MY_DATA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 56d51ac68c76fceb3b2d3f40f4073c7c76b224af
      X-Memc-Age:
      - '7064'
      X-Memc-Expires:
      - '14536'
      Etag:
      - W/"8ad80b2fbf2aa4d0f6a5fb24708866b2"
      Last-Modified:
      - Fri, 19 Feb 2021 17:40:38 GMT
<<<<<<< HEAD
      - 1.1 1e5c934b70471a41d2b61ae8c4abeb79.cloudfront.net (CloudFront)
=======
      - 1.1 3875d2e24f3fa436c06c298b167fa745.cloudfront.net (CloudFront)
>>>>>>> main
      X-Amz-Cf-Pop:
      - DEN50-C2
      X-Amz-Cf-Id:
<<<<<<< HEAD
      - 4idAmeTY9Vtg4DBP4j4KwT2RPOzY-F62C-F2YnmGHDj5VCbRMFOPuA==
      Age:
      - '5172'
=======
      - zWTcFEweXcv9HkN-LJiFj9rHB7g6ifdaZhVg6blp1f5ffy63d1ktIQ==
      Age:
      - '13471'
>>>>>>> main
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":null,"belongs_to_collection":null,"budget":0,"genres":[{"id":18,"name":"Drama"}],"homepage":"","id":792897,"imdb_id":"tt0311785","original_language":"en","original_title":"CBS
        Playhouse: Shadow Game","overview":"Workers in a high-powered New York business
        office are stranded on the 50th floor when the power fails during the East
        Coast blackout of 1965.","popularity":0.621,"poster_path":"/dEa2v7C4rgXIn1yPmC0DMwe1uKg.jpg","production_companies":[{"id":148555,"logo_path":null,"name":"CBS","origin_country":""}],"production_countries":[],"release_date":"1969-05-07","revenue":0,"runtime":78,"spoken_languages":[],"status":"Released","tagline":"","title":"CBS
        Playhouse: Shadow Game","video":false,"vote_average":10.0,"vote_count":1}'
<<<<<<< HEAD
  recorded_at: Fri, 19 Feb 2021 19:06:50 GMT
=======
  recorded_at: Fri, 19 Feb 2021 21:25:09 GMT
>>>>>>> main
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/792897/credits?api_key=HIDE_MY_DATA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - c43a42d6262f68d11d543117a84f602171a5f36b
      X-Memc-Age:
      - '7065'
      X-Memc-Expires:
      - '14535'
      Etag:
      - W/"1a0c4a3adc221ac82b879fbc44c395e4"
      Last-Modified:
      - Fri, 19 Feb 2021 17:40:38 GMT
<<<<<<< HEAD
      - 1.1 9c7e5857d78c5dc89042979317de5843.cloudfront.net (CloudFront)
=======
      - 1.1 33b4a855787c78f8c6d1716e9cbf8099.cloudfront.net (CloudFront)
>>>>>>> main
      X-Amz-Cf-Pop:
      - DEN50-C2
      X-Amz-Cf-Id:
<<<<<<< HEAD
      - 9RaANlzPsYRuHDsuJb4U6NVllz9brtFYMm4CV2M4ceFhQhSJSXIasw==
      Age:
      - '5171'
=======
      - OhRSEcUaAnM0t8cEgJ7Z5Wk6s6xudjZFp5nTBoLanYyZsQo2ajE69w==
      Age:
      - '13470'
>>>>>>> main
    body:
      encoding: ASCII-8BIT
      string: '{"id":792897,"cast":[{"adult":false,"gender":2,"id":83908,"known_for_department":"Acting","name":"Daniel
        Massey","original_name":"Daniel Massey","popularity":0.724,"profile_path":"/90WXpS4JNSRhStrZN5vdBHCIvlW.jpg","cast_id":6,"character":"","credit_id":"6019a50bd96c3c003e176f4c","order":0},{"adult":false,"gender":2,"id":1748,"known_for_department":"Acting","name":"William
        Shatner","original_name":"William Shatner","popularity":4.223,"profile_path":"/7lsjbNFMGj3kYYWoMk1LNnl4p5P.jpg","cast_id":3,"character":"","credit_id":"6019a4ebbb1057003d992f44","order":1},{"adult":false,"gender":2,"id":8499,"known_for_department":"Acting","name":"William
        Windom","original_name":"William Windom","popularity":2.211,"profile_path":"/jLKGf2gQR4cBDnUWFOsXY2y5Pui.jpg","cast_id":2,"c[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/792897/reviews?api_key=HIDE_MY_DATA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - c3711cb07712911161015c563488fb1e051af3ad
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Last-Modified:
      - '2021-02-02 19:22:44 +0000'
<<<<<<< HEAD
      - 1.1 23241b9c368643949e3bb1a1ba4e97c3.cloudfront.net (CloudFront)
=======
      - 1.1 32c386750218a25bee899f5c2a6d5b33.cloudfront.net (CloudFront)
>>>>>>> main
      X-Amz-Cf-Pop:
      - DEN50-C2
      X-Amz-Cf-Id:
<<<<<<< HEAD
      - UjcUFSkVzQOo_HwkzLU9N861B_tRq_JzB8mSJlKKI3grJNRz87H-Xg==
      Age:
      - '5171'
    body:
      encoding: UTF-8
      string: '{"id":792897,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Fri, 19 Feb 2021 19:06:50 GMT
=======
      - oM299NYpNm4OrDQeLTjwbZC-jLqkGMPGSaAXVE-W5Rv7T0XjLttSzQ==
      Age:
      - '13470'
    body:
      encoding: UTF-8
      string: '{"id":792897,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Fri, 19 Feb 2021 21:25:09 GMT
>>>>>>> main
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/792897/reviews?api_key=HIDE_MY_DATA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - c3711cb07712911161015c563488fb1e051af3ad
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Last-Modified:
      - '2021-02-02 19:22:44 +0000'
<<<<<<< HEAD
      - 1.1 d29afc70fc2fdadee440493854714224.cloudfront.net (CloudFront)
=======
      - 1.1 93debd9afa16324098afaaa5f75b1998.cloudfront.net (CloudFront)
>>>>>>> main
      X-Amz-Cf-Pop:
      - DEN50-C2
      X-Amz-Cf-Id:
<<<<<<< HEAD
      - jyMAdDSKP56KZJGZx-EmH-JNy19lPxad5GEfWHXkkSn5HgL_dzarUQ==
      Age:
      - '5172'
    body:
      encoding: UTF-8
      string: '{"id":792897,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Fri, 19 Feb 2021 19:06:51 GMT
=======
      - 30ncB9ZMVym16symY82pkwP5ucmLYdlve6CRxDNmEVNlze9jEjl_IA==
      Age:
      - '13470'
    body:
      encoding: UTF-8
      string: '{"id":792897,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Fri, 19 Feb 2021 21:25:09 GMT
>>>>>>> main
recorded_with: VCR 6.0.0
