---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/792897?api_key=HIDE_MY_DATA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 56d51ac68c76fceb3b2d3f40f4073c7c76b224af
      X-Memc-Age:
      - '7064'
      X-Memc-Expires:
      - '14536'
      Etag:
      - W/"8ad80b2fbf2aa4d0f6a5fb24708866b2"
      Last-Modified:
      - Fri, 19 Feb 2021 17:40:38 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":null,"belongs_to_collection":null,"budget":0,"genres":[{"id":18,"name":"Drama"}],"homepage":"","id":792897,"imdb_id":"tt0311785","original_language":"en","original_title":"CBS
        Playhouse: Shadow Game","overview":"Workers in a high-powered New York business
        office are stranded on the 50th floor when the power fails during the East
        Coast blackout of 1965.","popularity":0.621,"poster_path":"/dEa2v7C4rgXIn1yPmC0DMwe1uKg.jpg","production_companies":[{"id":148555,"logo_path":null,"name":"CBS","origin_country":""}],"production_countries":[],"release_date":"1969-05-07","revenue":0,"runtime":78,"spoken_languages":[],"status":"Released","tagline":"","title":"CBS
        Playhouse: Shadow Game","video":false,"vote_average":10.0,"vote_count":1}'
  recorded_at: Fri, 19 Feb 2021 21:47:09 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/792897/credits?api_key=HIDE_MY_DATA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - c43a42d6262f68d11d543117a84f602171a5f36b
      X-Memc-Age:
      - '7065'
      X-Memc-Expires:
      - '14535'
      Etag:
      - W/"1a0c4a3adc221ac82b879fbc44c395e4"
      Last-Modified:
      - Fri, 19 Feb 2021 17:40:38 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":792897,"cast":[{"adult":false,"gender":2,"id":83908,"known_for_department":"Acting","name":"Daniel
        Massey","original_name":"Daniel Massey","popularity":0.724,"profile_path":"/90WXpS4JNSRhStrZN5vdBHCIvlW.jpg","cast_id":6,"character":"","credit_id":"6019a50bd96c3c003e176f4c","order":0},{"adult":false,"gender":2,"id":1748,"known_for_department":"Acting","name":"William
        Shatner","original_name":"William Shatner","popularity":4.223,"profile_path":"/7lsjbNFMGj3kYYWoMk1LNnl4p5P.jpg","cast_id":3,"character":"","credit_id":"6019a4ebbb1057003d992f44","order":1},{"adult":false,"gender":2,"id":8499,"known_for_department":"Acting","name":"William
        Windom","original_name":"William Windom","popularity":2.211,"profile_path":"/jLKGf2gQR4cBDnUWFOsXY2y5Pui.jpg","cast_id":2,"c[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/792897/reviews?api_key=HIDE_MY_DATA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - c3711cb07712911161015c563488fb1e051af3ad
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Last-Modified:
      - '2021-02-02 19:22:44 +0000'
    body:
      encoding: UTF-8
      string: '{"id":792897,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Fri, 19 Feb 2021 21:47:09 GMT
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/792897/reviews?api_key=HIDE_MY_DATA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - c3711cb07712911161015c563488fb1e051af3ad
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Last-Modified:
      - '2021-02-02 19:22:44 +0000'
    body:
      encoding: UTF-8
      string: '{"id":792897,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Fri, 19 Feb 2021 21:47:09 GMT
recorded_with: VCR 6.0.0
