---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/genre/movie/list?api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status_code":7,"status_message":"Invalid API key: You must be granted
        a valid key.","success":false}

'
  recorded_at: Fri, 19 Feb 2021 17:40:01 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/genre/movie/list?api_key=HIDE_MY_DATA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - c7d9fedacbe3a8b344029e563cad89b8cfd03d9e
      X-Memc-Age:
      - '21531'
      X-Memc-Expires:
      - '69'
      Last-Modified:
      - Fri, 19 Feb 2021 00:50:44 GMT
      Etag:
      - W/"98d6f4fb3a0e0c77544a7277f32baebb"
<<<<<<< HEAD
      - 1.1 dcee1124728af441beff75c95d9d9d74.cloudfront.net (CloudFront)
=======
      - 1.1 ad71fd218ad805257f43d37e2ed4879f.cloudfront.net (CloudFront)
>>>>>>> main
      X-Amz-Cf-Pop:
      - DEN50-C2
      X-Amz-Cf-Id:
<<<<<<< HEAD
      - K2ymqE24flOPG9tS7O_lobPQiYUDCe8OyXpKvG96l5hbE3145TBJww==
      Age:
      - '5175'
=======
      - _osZl7xnQ1Tdjt-MYOsJY0NkSHQiAZgbLmC4ajtU1boxcfRMeD28SQ==
      Age:
      - '13474'
>>>>>>> main
    body:
      encoding: ASCII-8BIT
      string: '{"genres":[{"id":28,"name":"Action"},{"id":12,"name":"Adventure"},{"id":16,"name":"Animation"},{"id":35,"name":"Comedy"},{"id":80,"name":"Crime"},{"id":99,"name":"Documentary"},{"id":18,"name":"Drama"},{"id":10751,"name":"Family"},{"id":14,"name":"Fantasy"},{"id":36,"name":"History"},{"id":27,"name":"Horror"},{"id":10402,"name":"Music"},{"id":9648,"name":"Mystery"},{"id":10749,"name":"Romance"},{"id":878,"name":"Science
        Fiction"},{"id":10770,"name":"TV Movie"},{"id":53,"name":"Thriller"},{"id":10752,"name":"War"},{"id":37,"name":"Western"}]}'
<<<<<<< HEAD
  recorded_at: Fri, 19 Feb 2021 19:06:54 GMT
=======
  recorded_at: Fri, 19 Feb 2021 21:25:13 GMT
>>>>>>> main
recorded_with: VCR 6.0.0
