---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/genre/movie/list?api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status_code":7,"status_message":"Invalid API key: You must be granted
        a valid key.","success":false}

'
  recorded_at: Fri, 19 Feb 2021 17:40:01 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/genre/movie/list?api_key=HIDE_MY_DATA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - c7d9fedacbe3a8b344029e563cad89b8cfd03d9e
      X-Memc-Age:
      - '21531'
      X-Memc-Expires:
      - '69'
      Last-Modified:
      - Fri, 19 Feb 2021 00:50:44 GMT
      Etag:
      - W/"98d6f4fb3a0e0c77544a7277f32baebb"
<<<<<<< HEAD
      - 1.1 c4fb40b7909e4dd897bba2e297b284e7.cloudfront.net (CloudFront)
=======
      - 1.1 efdd98c65d70c59c49dba4d718c25274.cloudfront.net (CloudFront)
>>>>>>> main
      X-Amz-Cf-Pop:
      - PHX50-C1
      X-Amz-Cf-Id:
<<<<<<< HEAD
      - I5Y778hbZ4twHpKUjeeVSySJyr7sWctsAwFwiXMIQRlsZ35AvvJ9iA==
      Age:
      - '5175'
=======
      - mvoapqYbGvvPNm6KY0cjia0PpTxGY2gx-y74C6tzI3rIf3HduY1zqA==
      Age:
      - '13473'
>>>>>>> main
    body:
      encoding: ASCII-8BIT
      string: '{"genres":[{"id":28,"name":"Action"},{"id":12,"name":"Adventure"},{"id":16,"name":"Animation"},{"id":35,"name":"Comedy"},{"id":80,"name":"Crime"},{"id":99,"name":"Documentary"},{"id":18,"name":"Drama"},{"id":10751,"name":"Family"},{"id":14,"name":"Fantasy"},{"id":36,"name":"History"},{"id":27,"name":"Horror"},{"id":10402,"name":"Music"},{"id":9648,"name":"Mystery"},{"id":10749,"name":"Romance"},{"id":878,"name":"Science
        Fiction"},{"id":10770,"name":"TV Movie"},{"id":53,"name":"Thriller"},{"id":10752,"name":"War"},{"id":37,"name":"Western"}]}'
<<<<<<< HEAD
  recorded_at: Fri, 19 Feb 2021 19:06:54 GMT
=======
  recorded_at: Fri, 19 Feb 2021 21:25:12 GMT
>>>>>>> main
recorded_with: VCR 6.0.0
