---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/discover/movie?api_key&sort_by=vote_average.desc&with_genres=Action
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status_code":7,"status_message":"Invalid API key: You must be granted
        a valid key.","success":false}

'
  recorded_at: Fri, 19 Feb 2021 17:40:02 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/discover/movie?api_key=HIDE_MY_DATA&sort_by=vote_average.desc&with_genres=Action
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - a8d277d2d95f2ea20f792a48c43093dc
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Fri, 19 Feb 2021 19:06:54 GMT
recorded_with: VCR 6.0.0
