<h1> Welcome to ViewingParty </h1>

<p> With viewing party you can watch your favorite movies with you friends</p>

<%=  button_to "Log in", new_user_session_path%><br>
<%=  link_to "Register", new_user_registration_path%><br>
